<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录或注册</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <style>
        ul li {
            display: inline-block;
            border: 1px solid dodgerblue;
            height: 60px;
            width: 500px;
            text-align: center;
            border-radius: 40px;
        }

        .active {
            background-color: limegreen;
        }
body{
		background:url(images/bg-login.png) ;
		}

    </style>
</head>
<body>
<div id="app" >
<nav class="nav nav-tabs navbar-fixed-top navbar-inverse navbar" role="navigation"><!--导航栏-->
    <div class="container">
        <div class="row">
            <div class="col-md-1  col-xs-1"><a href="index.html" style=" text-decoration:none;"><h3><font
                    color="white" face="华文行楷">首页</font></h3></a></div>
            <div class="col-md-1 col-xs-1"><a href="books.html" style=" text-decoration:none;"><h3><font
                    color="white" face="华文行楷">书库</font></h3></a></div>
            <div class="col-md-2  col-xs-2"><a href="authorexist.do" style=" text-decoration:none;"><h3><font
                    color="white" face="华文行楷">作家专区</font></h3></a></div>
            <div class="col-md-6 col-xs-6">

                <div class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" name="text" id="text" @keyup="autocomplete" v-model="inputtext"
                               class="form-control" placeholder="找人、找书" size="50"
                               style="height: 50px;border-radius:40px;"/>
                        <button @click="S" class="btn btn-success"
                                style="outline:none;height: 50px; border-radius:50%;border: none;">搜索
                        </button>
                    </div>
                    <div id="tips" v-show="inputtip!=''&&inputtext!=''" v-html="inputtip"
                         style="border-radius:40px; background-color: white; position: absolute; z-index: 800; display: none; width: 420px;">

                    </div>
                </div>
            </div>
            <div class="col-md-1 col-xs-1 "><a href="LoginAndRegister.html" style=" text-decoration:none;"><img
                    :src="headimg" :title="headtitle" class="img-circle" width="63px" height="63px"/></a></div>
            <div class="col-md-1 col-xs-1 " v-if="readername!=''"><a :href="'Mydetail.html?readername='+(readername)"
                                                                     style=" text-decoration:none;"><h5><font
                    color="white" face="华文行楷"><br>{{readername}}</font></h5></a></div>
        </div>
    </div>
</nav>
<br><br><br><br><br><br><br>

    <div align="center" v-show="SS==0">
        <ul>
            <li v-for="(item,index) in tabs" :class="{active:index == num}" @click="tab(index)"><h3><font face="华文行楷">{{item}}</font>
            </h3></li>
        </ul>
        <div class="tabCon">
            <div v-show=" num==0">
                <div class="form-group">
                    <form action="#">
                        <input type="text" class="form-control" name="username" v-model="userphone" placeholder="手机号" size="50"
                               style="height: 50px;width:500px;border-radius:40px;">
                        <br>
                        <input type="password" class="form-control" name="password" v-model="userpassword" placeholder="密码" size="50"
                               style="height: 50px;width:500px;border-radius:40px;">
                        <br><br>
                        <input type="button" class="form-control" @click="login" value="登录" size="50"
                               style="height: 50px;width:500px;border-radius:40px;background-color:limegreen; ">
                        <br>
                        <a href="forget.html">忘记密码？点我找回！</a>
                    </form>
                </div>
            </div>
            <div v-show=" num==1">
                <div id="register" class="form-group">
                    <form action="#">
                        <input type="text" class="form-control" v-model="p0" @change="checkphone" NAME="phone"
                               placeholder="手机号" size="50" style="height: 50px;width:500px;border-radius:40px;">
                        <div style="color:red;display: inline-block" v-show="p0tip!=''">{{p0tip}}</div>
                        <br>
                        <input type="password" class="form-control" v-model="p1" @change="checkpassword1"
                               NAME="password1" placeholder="密码" size="50"
                               style="height: 50px;width:500px;border-radius:40px;">
                        <div style="color:red;display: inline-block" v-show="p1tip!=''">{{p1tip}}</div>
                        <br>
                        <input type="password" class="form-control" v-model="p2" @blur="checkpassword2"
                               NAME="password2" placeholder="确认密码" size="50"
                               style="height: 50px;width:500px;border-radius:40px;">
                        <div style="color:red;display: inline-block" v-show="p2tip!=''">{{p2tip}}</div>
                        <br>
                        <input type="text" class="form-control" v-model="code" @change="checkcode" name="Code"
                               placeholder="请输入验证码" size="50"
                               style="display:inline;height: 50px;width:300px;border-radius:40px;">
                        <img type="image" :src="CheckCode" @click="coderefresh"
                             style="display:inline;border-radius:40px;" title="看不清？点击换一张"><br>
                        <div style="color:red;display: inline-block" v-show="codetip!=''">{{codetip}}</div>
                        <br><br>
                        <input type="button" class="form-control" value="注册" @click="submit" size="50"
                               style="height: 50px;width:500px;border-radius:40px;background-color:limegreen; ">
                        <br>
                        <a href="forget.html">忘记密码？点我找回！</a>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container" v-show="SS==1">

        <div class="row">
            <div class="col-md-12">
                <div><br><br><br><br><br><br><br><br>
                    <button @click="YC" class="btn-success"
                            style="outline:none;width: 75px;height: 25px;border-radius: 50px;border: 1px solid;">隐藏结果
                    </button>
                    <h2>搜索结果：</h2>
                    <h3 v-if="books.length<1">没有搜索结果！</h3>
                    <div v-for="(book,num) in books">
                        <a :href="book.bookurl" style=" text-decoration:none;" class="col-md-3">
                            <img type="image" :src="book.bookimg" width="180px" height="230" :title="book.bookname">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{book.authorname}}/{{book.booktype}}</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var flag = [false, false, false, false]
    var vm = new Vue({
        el: '#app',
        data: {
            headimg: 'images/humanhead.png',//默认头像
            readername: '',//昵称
            headtitle: '登录/注册',
            inputtext: '',//搜索框内容
            inputtip: '',//提示内容
            inputtipshow: '',
            books: [],
            SS: 0,
            tabs: ["登录", "注册"],
            p0: '',//手机号
            p1: '',//密码
            p2: '',//二次密码
            code: '',//验证码
            CheckCode: 'CheckCode.do',//验证码图片地址
            num: 1,//选项卡编号
            p0tip: '',//手机号错误提示
            p1tip: '',//密码错误提示
            p2tip: '',//二次密码错误提示
            codetip: '',//验证码错误提示
            userphone:'',//登录手机号
            userpassword:'',//登录密码

            headimg:'images/humanhead.png',//默认头像
            readername:''//昵称
        },
        mounted:function(){//导航栏用户信息
            axios.post('navsession.do', {}).then(function (response) {//导航栏用户信息
                if (response.data.length != 0) {vm.readername = response.data.readername;
                    vm.headimg = response.data.headimg;vm.headtitle = "已登录"}})
                .catch(function (error) {console.log(error);});
        },
        methods: {
            YC: function () {
                vm.SS = 0;
            },
            S: function () {
                vm.SS = 1;
                axios.post('SS.do', {
                    inputtext: vm.inputtext
                }).then(function (response) {
                    vm.books = [];
                    var flag=0;
                    var temp = response.data;
                    console.log(temp);
                    for (var i = 0; i < temp.length; i++) {
                        for (var j = 0; j < vm.books.length; j++) {
                            if (vm.books[j].bookname == temp[i].bookname) {
                                flag = 1;break;
                            }
                        }
                        if (flag == 0) {
                            vm.books.push({
                                bookimg: temp[i].bookimg,
                                authorname: temp[i].authorname,
                                bookname: temp[i].bookname,
                                bookurl: 'bookdetail.html?bookno=' + temp[i].bookno,
                                booktype: temp[i].booktype,
                            });
                        }
                        flag=0;
                    }
                })
            },
            tab: function (index) {//登录、注册选项卡
                this.num = index;
            },
            checkphone: function () {//手机号码格式检查
                vm.existed(this.p0)//已存在性检查
                if (!(/^1[3|4|5|7|8]\d{9}$/.test(this.p0)) || this.p0 == null || this.p0 == '') {
                    this.p0tip = '手机号格式错误';
                    flag[0] = false
                }
               else{
                    flag[0] = true;
                    this.p0tip = ''
                }
            },
            checkpassword1: function () {//密码格式检查
                var reg = /^(?![a-zA-Z]{6,10}$)(?![a-z0-9]{6,10}$)(?![0-9A-Z]{6,10}$)[a-zA-Z0-9]{6,10}$/
                if (!reg.test(this.p1) || this.p1 == null || this.p1 == '') {
                    this.p1tip = '6至10位密码至少包含(1个大写字母，1个小写字母，1个数字),不能含有中文字符';
                    flag[1] = false
                } else {
                    flag[1] = true;
                    this.p1tip = ''
                }
            },
            checkpassword2: function () {//二次密码验证
                if ((this.p1 != this.p2) || this.p2 == null || this.p2 == '') {
                    flag[2] = false;
                    this.p2tip = "两次密码输入不一致"
                } else {
                    flag[2] = true;
                    this.p2tip=''
                }
            },
            checkcode: function () {//验证码验证
                axios.post('CheckInputCode.do', {
                    inputcode: this.code

                })
                    .then(function (response) {
                        vm.codetip = response.data.tip;
                        if (vm.codetip != "") flag[3] = false
                        else {
                            flag[3] = true;
                            vm.codetip = ''
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            coderefresh: function () {//验证码刷新
                var num = Math.ceil(Math.random() * 10);//生成随机数，防止缓存
                this.CheckCode = 'CheckCode.do?' + num
            },
            submit: function () {

                if (flag[0] == true && flag[1] == true && flag[2] == true && flag[3] == true) {
                    axios.post('Register.do', {//注册
                        p0: this.p0,
                        p1: this.p1,
                        code: this.code
                    })
                        .then(function (response) {

                            if (response.data.tip === "注册成功") {
                                alert("注册成功");
                                window.location.reload();

                            } else if (response.data.tip == "验证码错误") {
                                vm.codetip = response.data.tip;
                                flag[3] = false
                            } else vm.codetip = response.data.tip
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else alert("确定检查无误？立即注册？")
            },
            existed:function (inputphone) {
                axios.post('FindUserByPhone.do', {//手机号检查
                    phone:inputphone
                })
                    .then(function (response) {
                            if(response.data.R=="已存在")
                            {
                                vm.p0tip = '该手机号已被注册';
                                flag[0] = false
                            }

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            login:function () {
                axios.post('Login.do', {//登录
                    phone:vm.userphone,
                    password:vm.userpassword
                })
                    .then(function (response) {
                        if(response.data.loginresult==true)
                        {
                            alert("登录成功")
                            window.location.href="index.html"
                        }else{
                            alert("密码错误！登录失败！")
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            autocomplete: function () {
                axios.post('AutoComplete.do', {
                    inputtext: vm.inputtext
                })
                    .then(function (response) {
                        var str = response.data;
                        vm.inputtip = ""
                        if (str != null && str != "") {//响应成功

                            var result = str.split(",");
                            var childs = "";
                            //遍历结果集，将结果集中的每一条数据用一个div显示，把所有的div放入到childs中
                            for (var i = 0; i < result.length; i++) {
                                childs += "<br><div style='border-radius:60px;'onclick='Write(this)' onmouseout='recoverColorwhenMouseout(this)' onmouseover='changeColorwhenMouseover(this)'>" + result[i] + "</div>";
                            }
                            //把childs 这div集合放入到下拉提示框的父div中，上面我们以获取了
                            vm.inputtip = childs + "<br>";
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    });

    function changeColorwhenMouseover(tag) {
        tag.style.color = "red";
    }//鼠标移入事件
    function recoverColorwhenMouseout(tag) {
        tag.style.color = "black";
    }//鼠标移出事件
    function Write(tag) {
        vm.inputtip = null
        vm.inputtext = tag.innerHTML;
    }//补全输入框
</script>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>